.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--box-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  z-index: 1000; /* Sidebar'dan önde olması için */
}


.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-title {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 12px;
  font-family: var(--font-family);
  cursor: pointer;
  
} 

.navbar-title a{
  text-decoration: none;
  color: inherit;
}

.navbar-button {
  background: transparent;
  outline: none; 
  color: var(--text-color);
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family);
}

.navbar-button:hover {
  color: var(--accent-color);
}